@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans&display=swap");

:root {
  --font-primary: "Open Sans";
  --font-secondary: "Pt Sans";
  --color-background: #24293d;
  --color-secondary: #2f3855;
  --color-text: #f4f5fc;
  --color-accent: #8ebbff;
}

* {
  margin: 0%;
  padding: 0%;
  font-family: var(--font-secondary), sans-serif;
  color: var(--color-text);
}

.text-sm {
  font-size: small;
}

.text-xl {
  font-size: x-large;
}

.text-xxl {
  font-size: xx-large;
}
/* ------------------------------- navbar ------------------------------- */

.navbar {
  background-color: var(--color-background);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 2rem 1rem;
}

.navbar .navbar-container {
  display: flex;
  justify-content: space-between;
}

.navbar .navbar-container .navbar-logo,
.navbar .navbar-container .navbar-hamberger_icon {
  padding: 1rem;
}

.navbar .navbar-items,
.navbar .navbar-items ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.navbar .navbar-items ul {
  list-style-type: none;
}

.navbar .navbar-items ul li a {
  padding: 1rem;
  flex-grow: 1;
  border-radius: 20rem;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-secondary);
}

.navbar .navbar-items ul li a:hover {
  background-color: var(--color-accent);
  color: black;
}

/* ------------------------------- buttons ------------------------------- */

.button {
  background-color: var(--color-accent);
  border: none;
  cursor: pointer;
  box-shadow: 3px 3px 5px black;
  color: black;
  font-size: 16px;
  padding: 0.75rem 1.2rem;
  border-radius: 1rem;
  font-weight: 600;
}

.button i {
  color: black;
}

.button-chat {
  float: right;
}

.button-arrow {
  padding: 1rem 1.3rem;
  border-radius: 10rem;
  transform: translate(-50%, 50%);
  position: fixed;
  z-index: 100;
}

.button-arrow-up {
  display: none;
  right: 0;
  bottom: 7rem;
}
.button-arrow-down {
  position: fixed;
  right: 0;
  bottom: 3rem;
}

/* ------------------------------- not yet sorted ------------------------------- */

.social-media {
  display: flex;
  gap: 1rem;
}

@media only screen and (min-width: 640px) {
}

@media only screen and (min-width: 768px) {
  .navbar {
    flex-direction: row;
    padding: 2rem;
  }
  
  .navbar .navbar-container .navbar-hamberger_icon {
    display: none;
  }

  .navbar .navbar-items,
  .navbar .navbar-items ul {
    flex-direction: row;
    flex-grow: 1;
  }

  .navbar .navbar-items ul {
    justify-content: center;
  }

  .navbar .navbar-items ul li a {
    background: none;
  }

  .navbar .navbar-items ul li a i {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {}
