/* Issues 
  1. width 100vh and adding padding overflows y
*/

@import "globalstyle.css";

section,
aside {
  background-color: var(--color-background);
}

/* ------------------------------- section introduction ------------------------------- */

#topSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.introduction {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: stretch;
}

.introduction article {
  background-color: var(--color-secondary);
  padding: 1rem;
  border-radius: 1rem;
}

.introduction .introduction-options {
  display: flex;
  justify-content: end;
  gap: 1rem;
}

.introduction .introduction-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: x-large;
}

/* ------------------------------- section portrait ------------------------------- */

.portrait {
  min-height: 500px;
  height: 600px;
  width: 100%;
  background: no-repeat top center url("assets/images/a-happy-employee.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.portrait .portrait-description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* ------------------------------- section skills ------------------------------- */

.skills {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.skills article {
  background-color: var(--color-secondary);
  padding: 1rem;
  border-radius: 1rem;
}

.skills article ul li {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.25rem;
}

/* ------------------------------- media queries ------------------------------- */

@media only screen and (min-width: 640px) {
  .skills {
    padding: 2rem 1rem;
    position: relative;
    flex-direction: row;
  }

  .skills article {
    border-radius: 1rem;
    width: 50%;
    max-width: 400px;
  }
}

@media only screen and (min-width: 768px) {
  #topSection {
    flex-direction: row;
    padding: 0 2rem;
  }

  .introduction {
    padding: 0;
  }

  .portrait {
    border-radius: 1rem;
    max-width: 400px;
  }
}

@media only screen and (min-width: 1024px) {
}
