@import "globalstyle.css";

section {
  background-color: var(--color-background);
}

/* ------------------------------- section introduction ------------------------------- */

.top_section-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.introduction {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: stretch;
  justify-content: center;
}

.introduction article {
  background-color: var(--color-secondary);
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.introduction-options {
  display: flex;
  justify-content: end;
  gap: 1rem;
}

/* ------------------------------- section portrait ------------------------------- */

.portrait {
  min-height: 500px;
  height: 600px;
  width: 100%;
  background: no-repeat top center url("assets/images/a-happy-employee.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.portrait .portrait-description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* ------------------------------- section skills ------------------------------- */

.skills {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.skills article {
  background-color: var(--color-secondary);
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.skills article ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.skills article ul li {
  display: flex;
  justify-content: space-between;
}

/* ------------------------------- media queries ------------------------------- */

@media only screen and (min-width: 640px) {
}

@media only screen and (min-width: 768px) {
  .top_section {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .top_section-flex {
    flex-direction: row;
    flex-grow: 1;
    padding: 0rem 2rem 2rem 2rem;
    justify-content: end;
  }

  .introduction {
    padding: 0;
    max-width: 50%;
  }

  .portrait {
    min-height: 0;
    height: 100%;
    width: calc(50% - 1rem);
    border-radius: 1rem;
  }
  .skills {
    padding: 2rem;
    flex-direction: row;
  }

  .skills article {
    border-radius: 1rem;
    width: 50%;
    max-width: 400px;
  }
}

@media only screen and (min-width: 1024px) {
}
