* {
    margin: 0%;
    padding: 0%;
}

/* navigation bar */
.navbar {
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.navbar__items {
    display: none;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.navbar__items ul li {
    list-style-type: none;
}

.button {
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: .25rem;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.button--lets-chat {
    margin-top: 2rem;
}

.navbar__hamberger-icon {
    position: absolute;
    right: 2rem;
    top: 2rem;
}

/* 
    desktop: upper-left section 
    mobile: first section
*/
.introduction {
    height: calc(100vh - 64px - 19.2px);
    position: relative;
}

.introduction__title {
    padding: 0 2rem;
}

.introduction__title i {
    color: yellow;
}

.introduction__body {
    padding: 2rem;
}

.introduction__body_options {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}

.button--hire-me {
    background-color: rgb(59, 145, 198);
    color: black;
}

.button--view-projects-icon {
    padding-left: 0.25rem;
}

.introduction__info {
    padding: 2rem;
}

.introduction__info--flex {
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.arrow-down {
    position: absolute;
    width: 100%;
    bottom: 3rem;
    text-align: center;
}

/* 
    desktop: right section 
    mobile: second section
*/
.portrait {
    height: 100vh;
    background-image: url("assets/images/author-portrait.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 50%;
    position: relative;
    text-align: center;
}

.portrait__description {
    position: absolute;
    width: 100%;
    top: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portrait__description_title {
    padding-bottom: 2rem;
}

.portrait__description_body {
    width: 75%;
}

.portrait__links {
    width: 100%;
    position: absolute;
    bottom: 25%;
    display: flex;
    justify-content: center;
}

.portrait__links a {
    padding-left: 1rem;
    padding-right: 1rem;
}

/* 
    desktop: bottom-left section
    mobile: third section
*/
.skills {
    background-image: url("assets/images/cozy-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 75%;
    height: 100vh;
    position: relative;
}

.skills div {
    padding: 2rem;
}

.skills div ul {
    padding: 1rem 0;
}

.skills div ul li {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.arrow-up {
    position: absolute;
    width: 100%;
    bottom: 3rem;
    text-align: center;
}

@media only screen and (min-width: 640px) {}

@media only screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3rem 6rem;
    }
}

@media only screen and (min-width: 1024px) {}